
.container{
    padding: 3em;
    background-color: hsl(0, 0%, 98%);
    justify-content: center;
            
    }
    

h1, p{
    text-align: center;
}

.card-text {
   text-align: right;
   
}
h1, h2, h3, h4, h5 {
    
font-family: 'Poppins', sans-serif;
}
p, .fw-light {
    color: hsl(229, 6%, 66%);
}

.cardbox{
    max-width: 768px;
    /* justify-content: center; */
   justify-self: center;
}

#card1{
    top: 8em;
}

#floater{
    flex-direction: column;
   margin-left: 20em !important;
   margin-top: -15em;
}

 #card4{
    left: 41em;
    top: -25em;
} 

    